/**************** fonts********************************/
/*
@font-face {
    font-family: 'RalewayRegular';
    src: url('Raleway-Regular-webfont.eot');
    src: url('Raleway-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Raleway-Regular-webfont.woff') format('woff'),
         url('Raleway-Regular-webfont.ttf') format('truetype'),
         url('Raleway-Regular-webfont.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'RalewayMedium';
    src: url('Raleway-Medium-webfont.eot');
    src: url('Raleway-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Raleway-Medium-webfont.woff') format('woff'),
         url('Raleway-Medium-webfont.ttf') format('truetype'),
         url('Raleway-Medium-webfont.svg#RalewayMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RalewayBold';
    src: url('Raleway-Bold-webfont.eot');
    src: url('Raleway-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Raleway-Bold-webfont.woff') format('woff'),
         url('Raleway-Bold-webfont.ttf') format('truetype'),
         url('Raleway-Bold-webfont.svg#RalewayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/****************global********************************/
body {font-family: 'RalewayRegular';
    color: #71512e;
    font-size: 16px; overflow:hidden;}
.lt-ie9 body h1, .lt-ie9 body h2, .lt-ie9 body h3   {font-weight: lighter;text-transform: uppercase;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;margin: 0;padding: 0 0 8px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ABABAB;}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ABABAB;}
input:-ms-placeholder {
    line-height: 30px;
}
* {outline: none}

#contenedor{
    width: 810px;
    margin: 0 auto;
    border: 1px solid;
    height: 800px;
    position: absolute;
}
.main  {
    width: 810px;
    margin: 0;
    position:relative;
}
.lt-ie9 h1 {
    font-size: 36px;}
.lt-ie9 h2 {
    }
header {
    height: 180px;}
header.header_home{
    background: #f6f7f9 url("../img/bg_head.png") center 13px no-repeat;}
header.header_internas {
    background: #f6f7f9 url("../img/bg_head.png") center -198px no-repeat;
    height: 142px;}
section {
    background: #f6f7f9;}
footer {
    height: 125px;
    background: #f6f7f9 none;}
.logo {
    margin: 21px 13px;
    background: url("../img/sprite.png") -118px -466px no-repeat;
    width: 82px;
    height: 82px;}
.slogan {
    margin: 41px 18px;
    background: url("../img/sprites_txt.png?v=0.1") -10px -145px no-repeat;
    width: 384px;
    height: 38px;}
#wrapp, footer, header {
   width: 810px;margin: 0}
#wrapp {
    overflow: hidden;
	width: 779px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fdfeff;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.45);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.45);
	box-shadow: 0 2px 3px rgba(0,0,0,.45);
	border: solid 1px #e8e8e8;
    /*padding: 20px;*/
    margin:0 auto;
    position: relative;
    background: #ffffff none;}
.shadowhome {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f7f8f9;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.45);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.45);
	box-shadow: 0 2px 3px rgba(0,0,0,.45);
	border: solid 1px #e8e8e8;
}
#wrapp h2 {
    font-weight: 700;
    font-size: 35px;}
#wrapp p {
    font-size: 20px;
}
/**** reusables *******/
.brown {
    color: #723300;}
.orange {
    color: #e94d29;}
.magenta {
    color: #2ddcce;}
.grey {
    color: #a7a6a6;}
#wrapp p.brown_two {
    font-size: 1.4em;
    font-weight: normal;
    width: 343px;
    position: absolute;
    padding: 20px;
    right: 98px;
    top: 25px;
    line-height: 1.3em;}
.clear {clear: both}
.dno{display: none;}
.bdtted { border: 1px dotted;}
.mt23 { margin-top: 23px !important;}
/***************** home **********************/
.header_in{height: auto;
    overflow: hidden;}

.cont_home {
    width: 779px;
    height: 616px;
    background: url("../img/bg_home.jpg") 0 23px no-repeat;}
.btn_empezar, .btn_jugar, .btn_compartir, .btn_volverempezar, .btn_registrate, .inactive, .btn_registrate_off {
    margin: auto;
    display: table;
    font-weight: 700;
    color: #c0c0c1;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;}
.btn_registrate_off{display:none;}
.btn_empezar span {
    padding-right: 5px;}
.btn_empezar span, .btn_jugar span, .btn_compartir span, .btn_volverempezar span, .btn_registrate span, .inactive span, .btn_registrate_off span {
    display: table-cell;
    vertical-align: middle;
}
.btn_empezar:hover, .btn_jugar:hover, .btn_compartir:hover, .btn_volverempezar:hover, .btn_registrate:hover {
    color: #ffffff;
}
.btn_compartir:active span, .btn_jugar_off span {
    padding-top: 46px !important;
    color: #c0c0c1;}
.btn_empezar:active span, .btn_jugar:active span b, .btn_volverempezar:active span, .btn_registrate:active span{
    color: #c0c0c1;
    padding-top: 5px;
}
.btn_empezar {
    width: 152px;
    height: 155px;
    position: absolute;
    top: 119px;
    right: 9px;
    z-index: 20;
    background-position: 0 0;}
.btn_empezar:hover {
    background-position: 0 -156px;}
.btn_empezar:active {
    background-position: -1px -312px;}
.cont_boton {
    position: absolute;
    right: 68px;
    top: 170px;
    width: 307px;
    padding-left: 11px;
	height: 31px;
    line-height: 31px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f7f8f9;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.45);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.45);
	box-shadow: 0 2px 3px rgba(0,0,0,.45);
	border: solid 1px #e8e8e8;}
.btn_jugar {
    display: inline-block;
    width: 119px;
    height: 120px;
    margin: auto;
    color: #ffffff;
    padding-top: 18px;
    text-decoration: none;
    background-position: 0 -1581px;
}
.btn_jugar_off {background: url("../img/sprite.png") no-repeat scroll -77px -2938px !important}

a.btn_jugar span, .btn_jugar span {
    display: table;
    width: 100%;
    padding-top: 35px;
    font-size: 15px; }
.btn_jugar span b {
    color: #c0c0c1;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
}
.btn_jugar:hover span b {color: #ffffff}
/*.lt-ie9 .btn_jugar {
    text-indent: -9999px !important;}*/
.btn_jugar:hover {
    background-position: 0 -1701px;
}
.btn_jugar:active {
    background-position: 0 -1821px;
}
.btn_terminos {
    -webkit-border-radius: 10px/10px 10px 11px 11px;
	-moz-border-radius: 10px/10px 10px 11px 11px;
	border-radius: 10px/10px 10px 11px 11px;
	background-color: rgba(221,221,221,0);
	border: solid 1px rgba(113,81,46,.5);
    color: inherit;
    background: transparent none;
    border: 1px solid #ab9f90;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-size: 13px;
    position:absolute;
    bottom: 4px;
    right: 146px;
    z-index: 9;
    line-height: 21px;
    text-align: center;
    width: 164px;
    height: 21px;}
.btn_terminos:hover {
    /*font-size: 0.8em;*/
    border: 1px solid #695233;
    font-weight: 700;
    color: #695233;
}
.lt-ie9 .btn_terminos {
    right: 108px;}

.inactive, .btn_registrate_off {
    background: transparent url("../img/sprite.png") 0 -2810px no-repeat !important;
    width: 119px;
    height: 121px; }
.rm {
    position: absolute;
    right: 5px;
    height: 94px;
    width: 12px;
    background: url("../img/sprites_txt.png?v=0.1") -287px 0 no-repeat;
    top: 354px;
    z-index: 110;}
.btn_compartir span {
    padding-top: 13px;
    font-size: 14px;}
.btn_compartir {
    margin: 29px auto 21px;
    background-position: 0 -2048px;
    width: 119px;
    height: 123px;}
.btn_compartir:hover {
    background-position: 0 -2171px;}
.btn_compartir:active {
    background-position: 0 -2294px;}
/************** instrucciones ***************************/
/*.cap_one {}*/
label.error{position: absolute;left:-1000px; top:-1000px;}
label.error, .lblerror { width: 38px; height: 26px; display: block; background: url("../img/sprite.png") -121px -843px no-repeat; position: absolute; right: -32px; left: auto; top: 3px; text-indent: -9999em; z-index: 25; }
#form_mama label.error {
    top: 168px;
    left: 357px;
    z-index: 60;}
.lt-ie9 #instrucctions .small-3 {
    width: 25%;}
/*****************cafetera**********************/
#cafetera_abierta{
    width: 200px;
    height: 300px;
    background-color: #5da423;
    position: absolute;
    top: 150px;
    left: 20px;
}
#pastillas{
    position: absolute;
    right: 20px;
    top: 150px;
    background-color: #c60f13;
    width: 150px;
}

#pastillas ul{
    list-style: none;
}
#pastillas ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #2284a1;
}

input.error::-webkit-input-placeholder { color:#e90303; }
input.error::-moz-placeholder { color:#e90303; } /* firefox 19+ */
input.error:-moz-placeholder { color:#e90303; } /* firefox 19+ */
input.error:-ms-input-placeholder { color:#e90303; } /* ie */

/************ page listo ****************/
#paso-finalizar{margin: 0 0 0 0;
    background: url("../img/bg_thanks.jpg") 0 bottom no-repeat;}
.wrap-paso{height: 616px; position: relative;}
/*.bg-paso-finalizar{position: absolute;left: 0; top: 0;background:  url("../img/bg_formulario.png") left top no-repeat;width: 378px;height: 702px;}*/
.cont-listo{ text-align: center;margin: 30px 0 0;}
.cont-listo h2 {font-weight: 700;}
.cont-listo h2, .cont-listo h3 {font-size: 35px !important;}
.cont-listo h3 {}
.cont-listo h4 {
    font-weight: 700;
    padding: 20px 0 0;
    font-size: 35px;}
#tasas p {
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    padding: 2px 0.5em 0;}
.lt-ie9 #tasas p {
    font-size: 0.85em;}
#tasas span {
    margin: auto;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
    width: 94px;
    height: 96px;}
#tasas span.good {
    background-position: 0 -888px;}
#tasas span.bad {
    background-position: 0 -984px;}
#tasas span i {
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    position: relative;
    top: 10px;
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    background-image: url("../img/sprite_img.png");}
i#prod_01 { background-position: -5px -985px;}
i#prod_02 { background-position: -6px -1064px;}
i#prod_03 { background-position: -5px -1142px;}
i#prod_04 { background-position: -6px -1224px;}
i#prod_05 { background-position: -5px -1308px;}
i#prod_06 { background-position: -5px -1386px;}
i#prod_07 { background-position: -7px -1474px;}
i#prod_08 { background-position: -5px -1560px;}

.btn_normal, .btn_normal:active  {
    font-size: 0.9em;
    color: #787777;}
.btn_normal:hover {
    color: #2b2b2b;
    font-weight: 700;}
.head {text-align:center;padding-top:40px; line-height:35px; font-size:20px;}
.head span{font-size:25px; color:#e94d29; font-weight:700;}

.cont-listo .button{border-radius: 30px;font-size: 25px;margin: 90px 0 0;padding: 0.65em 2.0em;background: #ff5734;text-transform: uppercase;}
.cont-listo .button:hover{background: #ff9a85;}
.cont-listo .button:active{background: #bf3214;}
.winer, .loser {
    float: left;
    position: absolute;
    left: 214px;
    top: 51px;
    width: 104px;
    height: 104px;
    background-image: url("../img/sprite.png");}
.winer { background-position: 0 -2538px; }
.loser { background-position: 0 -2427px; }
.lt-ie9 .loser {
    left: 200px;}
.btn_volverempezar, .btn_registrate, .btn_registrate_off {
    width: 118px;
    height: 121px;
    background-position:0 -467px;}
.btn_volverempezar:hover, .btn_registrate:hover {
    background-position: 0 -589px;
}
.btn_volverempezar:active, .btn_registrate:active {
    background-position: 0 -712px;
}
.btn_registrate, .btn_registrate_off {margin:20px auto; padding: 0;}
#paso-finalizar.view_winner #tasas {
    height: 194px;
    width: 75%;
}
.lt-ie9 #paso-finalizar.view_winner #tasas {
    position: relative;
    left: 50px;
}
#paso-finalizar.view_winner .cont-listo h3 {
    padding: 0 0 18px 0;
}
#paso-finalizar.view_loser #tasas {
    margin-right: 66px;
    width: 73%;
    height: 180px;}
.lt-ie9 #paso-finalizar.view_loser #tasas {
    width: 83%;
    left: 55px;
    position: relative;
}
#paso-finalizar.view_loser h4 {
    width: 99%;
    font-size: 2.1em;
    line-height: 0.95em;
    padding: 23px 0 3px 0;
}
.mensaje_respuesta_incorrecta {
    width: 76%;
    margin: 0 53px 9px;
}
#paso-finalizar .mensaje_respuesta_incorrecta p {
    font-size: 1em;
    padding-bottom: 1.5em;
    line-height: 1.1em;}
/************ page Formulario ****************/
#paso-formulario{margin: 0;}
#paso-formulario.wrap-paso {height: 756px;}
.lt-ie9 .middle_form input.text { width: 106px !important; display: inline-block;}
/*.lt-ie9 .middle_form .columns .row .columns {padding-right: 10px !important}*/
.lt-ie9 .check_box { width: 110%;}
.bg-paso-formulario{position: absolute;left: 0; top:0;background:url("../img/tarjeta.jpg") right 135px no-repeat;width: 100%;height: 702px;}
.wrap-head-form{margin: 50px 0 0 0;}
#form_registro label{color: #a77a5d;font-size: 13px; margin: 0 0 5px;display: block;font-weight: 700;}

#form_registro .lblerror{color: #a77a5d;font-size: 13px; margin: 0 0
5px;display: none;font-weight: 700;}

#form_registro .check_box{font-size: 11px; font-weight: 400;}
#form_registro .check_box .arial{margin: 0 0 0 10px;}
#form_registro .check_box a{color: #ff5734;padding-bottom: 20px;display: inline-block;}
#form_registro .check_box a:hover { font-weight: 700; }
#form_registro span.prefix{background: #fff;border-radius:  5px 0 0 5px;border-color: #c5c5c5;border-width: 2px;}
#form_registro .text{border: 2px solid #c6c6c6;border-left: none;   box-shadow: none;border-radius:  0 5px 5px 0;margin: 0 0 5px 0;font-size: 14px; padding: 0.3em 0.5em;}
#form_registro .text:focus{background:#fff;}
#form_registro.custom .custom.dropdown{background: #fff;border-radius: 5px;border-width: 2px;}
#form_registro.custom .dropdown.error a.current{color: #e90303;line-height: 1.98em;}
#form_registro .campo .row:hover .text, #form_registro .campo .row:hover span.prefix{border-color: #ff9a85;}
#form_registro.custom div.custom.dropdown a.selector {border: none;background: transparent url("../img/sprite.png") -144px -1103px no-repeat; width:18px;height:18px;top: 6px;right: 6px;}
#form_registro.custom div.custom.dropdown a.selector:after{border-color: #fff  transparent transparent; left: 4px;top: 10px;}
#form_registro.custom div.custom.dropdown:hover a.selector:after, form.custom div.custom.dropdown.open a.selector:after { border-color: #fff  transparent transparent;}
#form_registro.custom div.custom.dropdown  ul { min-width: 322px;}

#form_registro .campo{margin: 0 0 10px;}
#form_registro .campo .row, #form_registro #check_info,#form_registro #check_tyc {    position: relative;}
#form_registro .c-nombre span.prefix {background: transparent url("../img/sprite.png") -132px -902px no-repeat;}
#form_registro .c-dni span.prefix{background: transparent url("../img/sprite.png") -132px -970px no-repeat;}
#form_registro .c-telefono span.prefix{background: transparent
url("../img/sprite.png") -132px -1001px no-repeat;}
#form_registro .c-email span.prefix{background: transparent url("../img/sprite.png") -132px -935px no-repeat;}
#form_registro label.error{}
#form_registro #check_tyc label.error, #form_registro #check_info label.error{display: none !important;}
#form_registro select{border: 2px solid #c5c5c5;padding: 3px 0;}

#form_registro .button{color: #fff; background: #ff5734;font-size: 18px;text-transform: uppercase;padding: 0.75em 1.9em 0.8125em;border-radius: 25px;margin: 15px 0;}
#form_registro .button:hover{background: #ff9a85;}
#form_registro .button:active{background: #bf3214;}

.margin_right{margin-right:25px;}
/***** ie8 form ******/
.lt-ie9 #form_registro input.text {
    width: 276px;
    height: 30px;
    margin-left: 50px;}
.lt-ie9 #form_registro > .campo {
    width: 316px;
}
/*.lt-ie9 .prefix {
    border: 1px dotted}*/
.lt-ie9 .row .small-2, .lt-ie9 .row .small-3 {
    width: 0;
    display: block;
    float: left;
}
.lt-ie9 .row .row {
    width: 100%;}

.lt-ie9 #form_registro span.prefix {
    width: 50px;
    height: 30px;
    display: inline-block;
}
.lt-ie9 #check_info label span.checkbox,
.lt-ie9 #check_tyc label span.checkbox
{
    display: inline-block;
    background: none;
    width: 14px;
    height: 14px;
    border: 1px solid #8a8a8a;}

.lt-ie9 #check_info label span.checkbox.checked,
.lt-ie9 #check_tyc label span.checkbox.checked {
    background: url("../img/sprite.png") no-repeat -131px -878px;
}
.lt-ie9 form.custom .custom.checkbox.checked:before {
    background: url("../img/sprite.png") -130px -877px no-repeat !important;
    color: #222222;
}
/*******drag***************************/
.btn_restaurar {
    position: absolute;
    z-index: 10;
    top: 364px;
    left: -184px;
    text-indent: -9999px;
    width: 103px;
    height: 103px;
    display: inline-block;
    background: url("../img/sprite.png") -2px -715px;}
.btn_restaurar.active {
    background: url("../img/sprite.png") -2px -814px;}
.btn_restaurar.active:hover {
    background-position: -2px -916px;
}

.character { margin:0;width: 100%;position: relative; top: 142px}
.character dd {list-style: none;list-style-image: none;padding: 0 0 17px 0;margin: 0;font-weight: bold;text-align: center;color: #717171;font-size: 22px;}
.return {
    cursor: move;}

/**** terminos ***********/
/*.terminos {}
#terms header {background: #ffffff url("../img/bg_head.png") center -23px no-repeat;height: 93px;}*/
#terms footer {background: #f6f7f9 none;height: 82px;display: none;}
#terms #wrapp {
    border: 0 none;
    height: 865px;
    color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    padding: 37px 21px;
    background: transparent;
}
#terms #wrapp h2 { font-size: 2.5em; }
.terminos .btn_regresar {
    text-indent: -9999px;
    background: transparent url("../img/sprite.png") -1px -1147px no-repeat;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -moz-border-radius: 27px;
    color: #ffffff;
    cursor: pointer;
    width: 54px;
    height: 54px;
    position: relative;
    top: -4px;
    left: 17px;
}
.terminos .btn_regresar:hover {
    background-position: -59px -1147px;
}
.terminos .btn_regresar:active {
    background-position: -117px -1147px;
}
#wrapp .cont_terminos {
    font-family: 'Arial';
}
/*.terminos .btn_regresar:hover {background-color: #FF9B85}*/
#wrapp .cont_terminos p, #wrapp .cont_terminos li {
    font-weight: normal;
    color: #ffffff;
    line-height: 1.2em;
    padding: 0 0 0.7em;
    font-size: 15px;}
#wrapp .cont_terminos ul {
    padding: 0;
}
#wrapp .cont_terminos li {
    list-style: none;
    padding: 0 0 0 37px;
    background: url("../img/sprite.png") -20px -2737px no-repeat;}
#wrapp .cont_terminos a {
    text-decoration: underline;
    color: inherit;}
#wrapp .cont_terminos a:hover {
    text-decoration: none;}
#wrapp .cont_terminos h3 {
    margin: 1.6em 0 0;
    font-size: 1.3em;
    font-weight: 700;
    color: #4f3216;
    line-height: 0.7em;
}

/************ terminos ************/
.bloqueo{
    position: absolute;
    width: 100%;
    height: 384px;
    z-index: 99999;
    display: none;
}
.contTerminos{
    width: 810px;
    height: 920px;
    position: absolute;
    top: 0;
    left: -810px;
    border: 0;
    opacity: 0;
    -moz-opacity: 0;
    overflow: hidden;
    filter:alpha(opacity=0);
    z-index: 999999;
}
.opacidad{
    opacity: .30;
    -moz-opacity: .30;
    filter:alpha(opacity=30);
}

/************ instructions ***********/
#instrucctions{padding-bottom:50px;}
#instrucctions div > p {
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;}
#instrucctions .borders {
    border: 1px solid #cdcdcd;
    border-radius: 5px
}
.bdr { border-right: 1px solid #cdcdcd;}
.bdt { border-top: 1px solid #cdcdcd;}
.bdb { border-bottom: 1px solid #cdcdcd;}
.bdl { border-left: 1px solid #cdcdcd;}
.borders .row .small-3 { text-align: center; display: inline-block; height: 213px;}
#instrucctions .row p {
    padding-top: 14px;
    text-align: center;
    font-size: 0.95em;
    line-height: 15px;
    width: 100%;
    display: table;}
#instrucctions .row p b {
    font-weight: 700;
    height: 35px;
    display: table-cell;
    vertical-align: middle;
}
#instrucctions h2 {
    padding-top: 14px;
    padding-bottom: 12px;
}
#instrucctions .large-11 {
    width: 87.6%;}
.posboton{position:absolute; top: -169px; right: 0;}
.lt-ie9 .posboton { right: -28px;}
/************  pastillas ***********/
.cont_pastillas{height:auto;}
.cont_pastillas ul{list-style:none;}

.cont_pastillas ul li {
    float: left;
    padding: 0;
    margin: 0 10px 10px 0;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 95px;
    height: 96px;
    background-position: 0 -1216px;
}
.cont_pastillas li a{display:block; margin:11px auto 0 auto;}
.cont_pastillas .capsule{height:71px;}
.cont_pastillas li:hover { background-position: 0 -1314px; }
.cont_pastillas li.selected{background-position: -2px -1411px;}
.capsule { background-image: url("../img/sprite_img.png"); width: 64px; height: 72px; display: inline-block; margin: 0 26% 0; }
.cap_one { background-position: 0 0;}
.cap_two {background-position: 0 -70px;}
.cap_three {background-position: 0 -140px}
.cap_four {background-position: 0 -210px}
.cap_five {background-position: 0 -284px}
.cap_six {background-position: 0 -353px}
.cap_seven {background-position: 0 -427px}
.cap_eight {background-position: 0 -502px}
.cap_nine {background-position: 0 -576px}
.cap_ten {background-position: -1px -653px}
.cap_eleven {background-position: 0 -735px}
.cap_twelve {background-position: 0 -817px}
.cap_thirteen {background-position: 0 -891px}
.cap_five, .cap_ten, .cap_eleven {
    margin-top: 30px;}
.timer, .timer span.magenta{
    display: table-cell;
    vertical-align: middle;
}
.timer{
    position: relative;
    margin: auto;
    width: 58px;
	height: 58px;
	-webkit-border-radius: 29px;
	-moz-border-radius: 29px;
	border-radius: 29px;
    font-size: 26.04px;
    font-weight:700;
    text-align:center;
    line-height:58px;
	background-position:  -22px -22px;
}
.lt-ie9 .timer {position: absolute; right: 0;}
.timer.active{background: url("../img/loader_5.gif") -22px -22px;}

.timer span.magenta {
    margin: auto;
    padding: 0;
    text-align: center;
    font-weight: 700;
    width: 48px;
	height: 48px;
	line-height: 48px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	/*background-position:  -22px -22px;*/
	background: #fff;
	margin:5px;
	display: block;
	z-index: 2;
	position: relative;
	}

.timerCircle{position: absolute; left: 0; top: 0;border-radius: 30px;background: #ccc;}
.lt-ie9 .timerCircle {
    background: transparent url("../img/sprite.png") 0 -3006px no-repeat;}
	
#instrucctions p.grey {
    color: #6b6760;
    line-height: 14px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;}
.icon_focus {
    display: inline-block;
    background: url("../img/sprite.png") -164px -1084px;
    height: 36px;
    width: 36px;}
#footer_instructions {
    width: 164px;
    z-index: 50;
    top: 174px;
    position: absolute;
    margin-top: 9px;
    right: -20px;}
.lt-ie9 #footer_instructions {
    right: 10px;
}
#footer_instructions .columns {
    line-height: 26px;
    height: 26px;}
#footer_instructions div div div a {
    margin-top: 6px;
    position: relative;
    bottom: 0;
    right: 122px;
    margin-bottom: 0;}
#footer_instructions .large-1 {
    width: 5%;
}
#footer_instructions .large-3 {
    width: 23.4%;
}
.lt-ie9 .timer span.magenta {
    background: transparent url("../img/sprite.png") 0 -2943px;}

/**************pantalla juego****************************************************/
#wrapp .mensaje{
    display:block;
    font-size:14px;
    width:163px;
    height:auto;
    margin:38px 0 0 34px;
    float:left;
    color:#a2a2a2;
}
.intentos{float:right; position:absolute; right:40px; top:44px; color:#969696;}
.intentos sup , .intentos sup { display: inline-block;}
.intentos sup { font-size: 18px;top: 0;left: 5px;}
.intentos span{ font-size:80px; vertical-align:top; line-height:42px;color:#71512e;left: 9px;position: relative}
.nom_grupo{font-size:35px; color:#71512e; float:left;display:table;height:85px;width: 140px; position: relative; top: -8px; left: 6px; line-height: 1.2em;}
.nom_grupo b{font-weight:700; display:table-cell; vertical-align:middle;}
.nom_grupo b span {display: inline-block; width: 295px;}
.block{height:437px;}
.cont_pastillas{padding-top:30px;}
.cont_pastillas .timer{float:right;margin-right: 25px;margin-top: 5px;}
.cont_pastillas .grupo{display: none;}
.cont_pastillas .grupo.first{display: block;}
.cont_pastillas .grupo.last{}
.recordatorio{display:block; position:absolute; bottom:10px; background:url(../img/sprite_bg.png) no-repeat 0 -982px; width:271px; height:85px; font-size:15px;top:451px; left:20px; }
.block ul{float:left; padding:48px 0 0 0; margin:0;}
.cont_left{height:98px;background:url(../img/sprite_bg.png) no-repeat -368px -648px; }


.cont_fotos{width:100%; height:516px;}
.sombra{background:url(../img/sprite_bg.png) no-repeat -269px -874px;width:500px; height:30px; position:absolute; top:120px; left:258px; z-index:999;}

.recordatorio span{display:block; background:url(../img/sprite.png) no-repeat -161px -1031px; padding:0 0 0 53px;margin: 21px 17px;height: 42px;}

.recordatorio span b{font-weight:normal; color:#e94d29;}

/**************cargador*******************/
#qLoverlay{
    background-image: url(../img/load.png);
    background-repeat: no-repeat;
    background-position: center 50px;
}
#qLpercentage{
    font-size: 18px;
    color: #71512e;
    font-weight:700;
    font-family:Arial;
 }

#cont_bar{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    background-color: #fff;
    height: 1px;
    margin-top: 100px;
}
.oculto{position:absolute; top:-10000px; left:-10000px;}

