{% extends "base.html" %}
{% block top_scripts %}
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true, oauth	: true});
        FB.Canvas.setAutoGrow();
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // connected
                $(".unnconect").addClass("hide");
                $(".connect").removeClass("show");
                $(".cont_boton").hide();
                $(".brown_two").addClass("shadowhome");
            }else {
                $(".unnconect").removeClass("show");
                $(".connect").addClass("hide");
                $(".cont_boton").show();
                // not_logged_in or not_authorized
            }
        });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>

{%  block extra_fbscripts %}{% endblock extra_fbscripts %}
{% endblock top_scripts %}


