{% extends "base.html" %}

{% block content %}
<div id="paso-formulario" class="wrap-paso">

    <div class="">

    <form id="userForm" action="{{ url_for('form') }}" method="post">

        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <table border="1" width="50%">
            <tr>
                <th>first_name</th>
                <td><input name="first_name" value="{{ profile.first_name }}"></td>
            </tr>
            <tr>
                <th>last_name</th>
                <td><input name="last_name" value="{{ profile.last_name }}"></td>
            </tr>
            <tr>
                <th>dni</th>
                <td><input name="dni" value="{{ profile.dni }}"></td>
            </tr>
            <tr>
                <th>phone</th>
                <td><input name="phone" value="{{ profile.phone }}"></td>
            </tr>
            <tr>
                <th>email</th>
                <td><input name="email" value="{{ profile.email }}"></td>
            </tr>
            <tr>
                <th>cod_dpto</th>
                <td>
                    <select name="cod_dpto">
                        {% for x in departments %}
                        <option value="{{ x.id }}">{{ x.name }}</option>
                        {% endfor%}
                    </select>
                </td>
            </tr>
        </table>
        <button name="btn_add_comment">Submit</button>
    </form>

    </div>
</div>

{% endblock %}


<script>
/* attach a submit handler to the form */
$("#userForm").submit(function(event) {
 
  /* stop form from submitting normally */
  event.preventDefault();
 
  /* get some values from elements on the page: */
  var $form = $( this ),
      first_name = $form.find( 'input[first_name="s"]' ).val(),
      csrf_token = $form.find( 'input[csrf_token="s"]' ).val(),
      last_name = $form.find( 'input[last_name="s"]' ).val(),
      dni = $form.find( 'input[dni="s"]' ).val(),
      phone = $form.find( 'input[phone="s"]' ).val(),
      email = $form.find( 'input[email="s"]' ).val(),
      url = $form.attr( 'action' );
 
  /* Send the data using post */
  var posting = $.post( url, 
  {
      first_name: first_name,
      last_name: last_name,
      dni: dni,
      phone: phone,
      email: email,
      csrf_token:csrf_token 
  } );
 
  /* Put the results in a div */
  posting.done(function( data ) {

        console.log(data);
    var content = $( data ).find( '#content' );
    $( "#result" ).empty().append( content );
  });
});
</script>


{% block scripts_formulario %}
    <script src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.alphanumeric.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.forms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/valid.js') }}"></script>
{% endblock %}
