{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block classHeader %}header_home{% endblock classHeader %}

{% block extra_fbscripts %}
<script xmlns="https://www.w3.org/1999/html">
        function login() {
            //_gaq.push(['_trackEvent','Iniciar', 'Jugar', '']);
            FB.login(function(response) {
                if (response.authResponse) {
                    // connected
                    _gaq.push(['_trackEvent','Diapadre-Conversion','Iniciar-Home', '']);
                    window.location = '{{ redirect_if_logged }}';
                } else {
                    // cancelled
                }
            },{scope: 'email,publish_actions'
        });

        }
    </script>
{% endblock extra_fbscripts %}


{% block content %}

<div class="">
    <form id="commentForm" action="{{ url_for('add_comment') }}" method="post">
    <textarea name="comment"></textarea>
    <button name="btn_add_comment">Submit comment</button>
    </form>
</div>
<!--
<a class="btn_terminos" href="{{ url_for('terms') }}" onclick="_gaq.push(['_trackEvent','Diapadre-Informativas', 'Terminos-y-Condiciones-Ver', ''])">Términos & Condiciones</a>
-->

{% endblock content %}



<script>
/* attach a submit handler to the form */
$("#commentForm").submit(function(event) {
 
  /* stop form from submitting normally */
  event.preventDefault();
 
  /* get some values from elements on the page: */
  var $form = $( this ),
      comment = $form.find( 'input[comment="s"]' ).val(),
      url = $form.attr( 'action' );
 
  /* Send the data using post */
  var posting = $.post( url, { comment: comment } );
 
  /* Put the results in a div */
  posting.done(function( data ) {

        console.log(data);
    var content = $( data ).find( '#content' );
    $( "#result" ).empty().append( content );
  });
});
</script>


{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.queryloader2.js') }}"></script>
<script>
$(document).ready(function() {   
    $("body").queryLoader2({
        barColor: "#ff5734",
        backgroundColor: "#ffffff",
        percentage: true,
        barHeight: 7,
        completeAnimation: "grow",
        minimumTime: 100
    });
});
</script>

{% endblock scripts %}




