<!DOCTYPE html>
<html>
<head>
    <title>Ganadora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<style>
    html, body, img{
        border: 0;
        margin:0 ;
        padding: 0;
    }
    .ganadores{
        width: 810px;
        height: 922px;
        background: url({{ url_for('static', filename='img/cierre.jpg') }}) no-repeat top left; position: relative;
    }
    </style>
</head>
<body >
    <div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true, oauth	: true});
        FB.Canvas.setAutoGrow();

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>

    <div class="ganadores">
   </div>
</body>
</html>
